@charset "UTF-8";

/*共通部分
----------------------------*/

html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    background: rgba(67, 67, 67, 0.2);
    margin: 0 5%;
}

/*header
-----------------------*/

/*index
-----------------------*/
.top-contents{
    margin-bottom: 50px;
}
.top-contents h1{
    font-size: 3rem;
    padding: 0 20px 15px;
}
.top-contents div{
    margin: 0 10%;
}
.intro{
    text-align: center;
    padding: 0 10%;
    border: 1px solid rgb(0, 0, 0);
}
.grid{
    padding: 0 10%;
    display: grid;
    grid-column-gap: 26px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    margin-top: 5%;
    margin-bottom: 50px;
}
.item{
    margin: 20px 0;
}


/*work(1~n)共通ほぼ完成しました
-----------------------*/
.menu{
    display: flex;
    justify-content: space-between;
    margin:50px 10% 0;
}
.beforeafter{
    display: inline-block;
    padding: 20px;
}
.beforeafter .button{
    font-size: 1.1rem;
    background: rgb(100, 100, 100);
    color: rgb(250, 250, 250);
    padding: 20px 30px;
    border-radius: 25px;
    text-decoration: none;
}
.beforeafter .button:hover{
    background: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
    text-decoration: underline;
}
hr{
	height: 2px;
	background-color: rgb(145, 145, 145);
}
.work{
    margin: 30px 0;
}
.movie{
    margin-bottom: 50px;
    text-align: center;
}
.end{
    visibility: hidden;　/*最初と最後のみボタンを隠す-----------------------*/
}


/*footer
-----------------------*/
footer {
	text-align: center;
	margin-top: auto;
	padding: 5px;
}
footer hr{
	height: 2px;
	background-color: rgb(145, 145, 145);
}
footer small {
	color: rgb(145, 145, 145);
	font-size: 0.85rem;
	margin-right: 20px;
}
footer a{
	color: rgb(100, 100, 100);
	font-size: 0.85rem;
	margin: 0 15px;
}
footer a:hover{
	color: rgb(50, 50, 50);
}
footer .shiga{
	padding-left: 40px;
	border-left: 0.8px solid rgb(145, 145, 145);
}
